version: 2.1
jobs:
  build:
    working_directory: ~/mern-starter
    docker:
      - image: circleci/node:10
    steps:
      - checkout
      - run:
          name: Test, baby, test!
          command: npm run test-ci
