version: 2.1
jobs:
  build:
    working_directory: ~/mern-starter
    docker:
      - image: circleci/node:10
      - image: circleci/postgres:10
        environment:
          POSTGRES_PASSWORD: imageproxytest
          POSTGRES_DB: imageproxytest
          POSTGRES_USER: imageproxytest
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: npm install
      - run:
          name: Copy test .env
          command: cp ./.circleci/.env ./
      - run:
          name: Test
          command: npm test
